<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'playground/css/login_to_hoyo.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1>Log in hoyolab and reload the page</h1>
        <a href="https://www.hoyolab.com/home" class="login_to_hoyo" target="_blank">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            authorization
        </a>
    </div>
</body>
</html>